.navbar___27OOt {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 100px;
  width: 100%;
  background: #333;
  z-index: 1000; }

.logo___2Mwgt {
  width: 20%;
  margin: 10px 20px; }
  .logo___2Mwgt img {
    height: 40px; }

.menu___1rjuA {
  width: 70%; }

.menu__top___1Gv5e, .menu__bottom___34390 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 48%; }

.menu__top___1Gv5e {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.dropdown___2vSN_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.lang__content___4Vh4z, .money__content___2GlXH, .properties__content___3lpRG {
  display: none;
  position: absolute;
  width: 100px;
  background-color: #333;
  color: #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10; }

.money__content___2GlXH {
  width: 30px;
  margin: 0 6px; }

.properties__content___3lpRG {
  width: 300px; }

.dropdown__lang___2D4--, .dropdown__money___3c92V {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 110px;
  color: #ddd;
  outline: none;
  background-color: inherit;
  padding: 0; }
  .dropdown__lang___2D4--:hover, .dropdown__money___3c92V:hover {
    color: #fff;
    border: 1px solid #fff; }

.dropdown__money___3c92V {
  width: 30px;
  margin: 0 6px; }

.dropdown__properties___3scGF {
  position: relative;
  color: #ddd;
  outline: none; }

.flag___1EWgA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  width: 100%;
  border-radius: 6px; }
  .flag___1EWgA img {
    height: 25px;
    margin: 0px 5px; }
  .flag___1EWgA span {
    font-size: 15px; }
  .flag___1EWgA:hover {
    background: #000; }
    .flag___1EWgA:hover span {
      color: #fff; }

.money___1Zemd {
  font-size: 16px;
  padding: 3px 4px;
  margin: 0;
  text-align: center;
  border-radius: 6px; }
  .money___1Zemd:hover {
    background: #000; }

.properties___Mw8zg {
  font-size: 1.5vw;
  padding: 3px 4px;
  margin: 0;
  text-decoration: none;
  color: #ddd;
  text-align: left;
  display: block; }
  .properties___Mw8zg:hover {
    color: #fff;
    background: #000; }

.follow__menu___3zkbQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px; }
  .follow__menu___3zkbQ a {
    text-decoration: none;
    margin: auto 10px;
    font-size: 22px;
    color: #ddd; }
    .follow__menu___3zkbQ a:hover {
      color: #fff;
      background: #000; }

.menu__bottom___34390 {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.menu__button___3QXI0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.7vw;
  text-decoration: none;
  color: #ddd;
  padding: 6px 15px 0 15px; }
  .menu__button___3QXI0:hover {
    color: #fff;
    background: #000; }
  .menu__button___3QXI0 div {
    width: 0px;
    margin-left: 3px; }

.downTriAngle___cEhgv {
  border-color: transparent;
  border-top-color: #ddd;
  border-style: solid;
  border-width: 10px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom: none; }
  .downTriAngle___cEhgv:hover {
    border-top-color: #fff; }

.main___10XBn {
  width: 100%;
  margin: 60px 0 0 0;
  padding: 0; }

.first___2RhWJ {
  font-size: 60px;
  color: #f0f; }

body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.main___3NM49 {
  margin-top: 70px; }

.slideshow__container___3xrVj {
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden; }

.mySlides___2oXCc {
  display: none;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill; }
  .mySlides___2oXCc img {
    position: absolute;
    height: 500px;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill; }

.prev___ws7Uw, .next___X4er9 {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.next___X4er9 {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev___ws7Uw:hover, .next___X4er9:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text__block___3rM_Y {
  position: absolute;
  top: 350px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px; }
  .text__block___3rM_Y h3 {
    padding: 5px 10px;
    margin: 0; }
  .text__block___3rM_Y h5 {
    margin: 0;
    padding: 5px 10px; }

.show__curentSlide___2C5NB {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 10px; }

.dot___316xS {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active___2g1BY, .dot___316xS:hover {
  background-color: #717171; }

@-webkit-keyframes fade___35iCJ {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade___35iCJ {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@-webkit-keyframes zooming___1fOkY {
  0% {
    height: 500px; }
  50% {
    height: 560px;
    width: 110%;
    margin-left: -5%;
    margin-top: -30px; }
  100% {
    height: 500px; } }

@keyframes zooming___1fOkY {
  0% {
    height: 500px; }
  50% {
    height: 560px;
    width: 110%;
    margin-left: -5%;
    margin-top: -30px; }
  100% {
    height: 500px; } }

@-webkit-keyframes textBoxEff___1BIs6 {
  from {
    left: -250px; }
  to {
    left: 20px; } }

@keyframes textBoxEff___1BIs6 {
  from {
    left: -250px; }
  to {
    left: 20px; } }

.fade___35iCJ {
  -webkit-animation-name: fade___35iCJ;
          animation-name: fade___35iCJ;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }
  .fade___35iCJ img {
    -webkit-animation-name: zooming___1fOkY;
            animation-name: zooming___1fOkY;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  .fade___35iCJ .text__block___3rM_Y {
    -webkit-animation-name: textBoxEff___1BIs6;
            animation-name: textBoxEff___1BIs6;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

.pag___2CNoS {
  color: #ff0; }


/*# sourceMappingURL=styles.chunk.css.map*/