.pag___2CNoS {
  color: #ff0; }

.first___2RhWJ {
  font-size: 60px;
  color: #f0f; }

body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.main___3NM49 {
  margin-top: 70px; }

.slideshow__container___3xrVj {
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden; }

.mySlides___2oXCc {
  display: none;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill; }
  .mySlides___2oXCc img {
    position: absolute;
    height: 500px;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill; }

.prev___ws7Uw, .next___X4er9 {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.next___X4er9 {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev___ws7Uw:hover, .next___X4er9:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text__block___3rM_Y {
  position: absolute;
  top: 350px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px; }
  .text__block___3rM_Y h3 {
    padding: 5px 10px;
    margin: 0; }
  .text__block___3rM_Y h5 {
    margin: 0;
    padding: 5px 10px; }

.show__curentSlide___2C5NB {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 10px; }

.dot___316xS {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active___2g1BY, .dot___316xS:hover {
  background-color: #717171; }

@-webkit-keyframes fade___35iCJ {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade___35iCJ {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@-webkit-keyframes zooming___1fOkY {
  0% {
    height: 500px; }
  50% {
    height: 560px;
    width: 110%;
    margin-left: -5%;
    margin-top: -30px; }
  100% {
    height: 500px; } }

@keyframes zooming___1fOkY {
  0% {
    height: 500px; }
  50% {
    height: 560px;
    width: 110%;
    margin-left: -5%;
    margin-top: -30px; }
  100% {
    height: 500px; } }

@-webkit-keyframes textBoxEff___1BIs6 {
  from {
    left: -250px; }
  to {
    left: 20px; } }

@keyframes textBoxEff___1BIs6 {
  from {
    left: -250px; }
  to {
    left: 20px; } }

.fade___35iCJ {
  -webkit-animation-name: fade___35iCJ;
          animation-name: fade___35iCJ;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }
  .fade___35iCJ img {
    -webkit-animation-name: zooming___1fOkY;
            animation-name: zooming___1fOkY;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  .fade___35iCJ .text__block___3rM_Y {
    -webkit-animation-name: textBoxEff___1BIs6;
            animation-name: textBoxEff___1BIs6;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

